@import './variables.scss';
@import './typography.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $color-white;
  color: $color-grey-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
