@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: calc($font-size-5xl + .1vw);
  line-height: 1.5;
}

p {
  font-size: calc(21px + .1vw);
  line-height: 1.5;
}